body {
  font-family: Helvetica;
}
#footer {
  background-color: dimgray;
  color: white;
}
#footer nav, li, p {
  display: inline-block;
}
#footer p, ul, nav {
  padding: 0;
  margin: 0 ;
}
#footer p {
  font-size: 11px;
  }
#footer a {
  text-decoration: underline;
  color: white
}
